<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllTestsSuite">
    <suite-files>
        <suite-file path="testng/productSearchSuite.xml" />
        <suite-file path="testng/filteredSearchSuite.xml" />
        <suite-file path="testng/productDetailsFromSearchSuite.xml" />
    </suite-files>
</suite>