<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SearchClothesTestsSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="ProductSearchTests">
        <classes>
            <class name="com.onlineclothingstore.scripts.searchClothesTestSuite.ShouldReturnResultsWhenSearchTermMatchesTest" />
            <class name="com.onlineclothingstore.scripts.searchClothesTestSuite.ShouldReturnNoResultsWhenSearchTermNotFoundTest" />
            <class name="com.onlineclothingstore.scripts.searchClothesTestSuite.ShouldHandleSpecialCharactersInSearchTermTest" />
        </classes>
    </test>
    <test name="FilterSearchTest">
        <classes>
            <class name="com.onlineclothingstore.scripts.searchClothesTestSuite.ShouldFilterSearchResultsTest" />
        </classes>
    </test>
<!--    <test name="CategoryNavigationTest">-->
<!--        <classes>-->
<!--            <class name="com.onlineclothingstore.scripts.searchClothesTestSuite.ShouldNavigateToCategoryTest" />-->
<!--        </classes>-->
<!--    </test>-->
    <test name="ProductDetailsFromSearchTest">
        <classes>
            <class name="com.onlineclothingstore.scripts.searchClothesTestSuite.ShouldDisplayProductDetailsFromSearchResultsTest" />
        </classes>
    </test>
</suite>